.course{
    padding: 2rem  4.5rem;
    padding-bottom: 3rem;
}
.course-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-heading h2{
    font-weight: 700;
    color: #304560;
    font-size: 1.9rem;
    font-family: "Montserrat", sans-serif;
}
.course-heading img{
width: 350px;
margin-top: -0.2rem;
}

.course-content{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 1.8rem;
}

.course-card{
 display: flex;
 gap: 0.9rem;
}

.course-number{
    color: #304560; 
    font-size: 2.4rem;
    font-weight: 600;
    border: 2.7px solid #14AE5C;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    padding: 0.8rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.course-number:hover{
 font-size: 2.8rem;
}

.div-two{
    border: 2.7px solid #EE552C;  
}
.div-three{
    border: 2.7px solid #FFCD29;    
}
.div-four{
    border: 2.7px solid #3771C8;  
}

.course-card-content{
    color: #304560; 
    width: 28vw;
}
.course-card-content h4{
  font-size: 1.1rem;
}
.course-card-content p{
  margin-top: 0.2rem;
  font-size: 0.9rem;
}
.course-content-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 2.5rem;
    flex-direction: row;
    align-items: center;
}

.course-content-wrapper img{
   display: block;
   width: 420px;
   height: 350px;
}
@media only screen and (max-width: 600px){
    .course{
        padding: 2rem  1.2rem;
    }

    .course-card-content{
        width: 68vw;
    }

    .div-two{
        margin-left: 0rem;  
    }
    .div-three{
        margin-left: 0rem;      
    }
    .div-four{
        margin-left: 0rem;     
    }
    .course-card-content p{
        font-size: 1rem;
      } 
      .course-content{
        margin-top: 2rem;
    }
    .course-heading h2{
    text-align: center;
    font-size: 1.7rem;
    }
    .course-heading img{
        width: 320px;
     }
        .course-content-wrapper{
            display: flex;
            justify-content: space-between;
            gap: 0.6rem;
            margin-top: 2rem;
            flex-direction: column-reverse;
        }
        .course-content-wrapper img{
            display: block;
            min-width: 100%;
         }
         .course-content-wrapper img{
            display: block;
            width: 100%;
            height:auto;
         }
         .course-heading img{
            width: 304px;
            margin-top: -0.2rem;
         }
}