.study{
    text-align: center;
}
.study h2{
    font-weight: 700;
    color: #304560;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
}

  @keyframes growWidth4 {
  from {
    width: 60%;
  }
  to {
    width: 75%;
  }
}

.stud-bar{
  animation: growWidth4 1s ease-in-out forwards;
}