.abt{
    padding: 2rem  4.5rem; 
    padding-bottom: 3rem;
}

.abt-heading{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.abt-heading h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #304560;
    font-size: 1.8rem;
}

.abt-heading img{
    width: 160px;
    margin-top: -0.2rem;
   }
.abt-content-wrapper{
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    gap: 1.3rem;
}

.abt-content-wrapper img{
    display: block;
    min-width: 300px;
    height: 340px;
}

.abt-content{
    color: #1e2d41;
    width: 52vw;
}
.abt-content h3{
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    color: #1e2d41;
}
.abt-btns{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 1.1rem;
}

.our-mission{
    margin-top: 1rem;
}
.see-more {
    color: #EE552C; 
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;  
    position: relative;
    text-decoration: none;
    width: fit-content;
  }
  
  .see-more-content::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* distance below text */
    width: 0%;
    height: 1.5px;
    background-color: #EE552C;
    transition: width 0.5s ease-in-out;
  }
  
  .see-more-content:hover::after {
    width: 100%;
  }
  
.see-icon{
    font-size: 1rem;  
}
.hiden-text {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.8s ease, opacity 0.8s ease;
    margin-top: 0.5rem;
  }
  
  .hiden-text.show {
    max-height: 500px; 
    opacity: 1;
  }
  
  .see-icon {
    transition: transform 0.3s ease;
  }
  
  .see-icon.rotate {
    transform: rotate(180deg);
  }
.hd-text{
    margin-top: 1rem;
}
.typed-text {
    font-weight: bold;
    white-space: pre-wrap;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-in forwards;
    animation-delay: 0.6s;
    display: inline;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

.see-more-content{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}


  
@media only screen and (max-width: 600px) {
    .abt{
        padding: 2rem  1.2rem;
    }
    .abt-content-wrapper{
        margin-top: 2.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        text-align: center;
    } 
    .abt-content{
        width: 100%;
    }
    .bottom-wrapper{
        margin-top: 2rem;  
    }
    .abt-btns{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
.abt-heading img{
    width: 140px;
   }
   .abt-heading h2{
    font-size: 1.7rem;
}
.see-more {
    color: #EE552C; 
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-size: 1.2rem;  
    position: relative;
    text-decoration: none;
    width: 100%;
    margin-bottom: 1rem;
  }
  .see-more-content:hover::after {
    width: 28%;
  }
  .see-more-content::after {
    content: '';
    position: absolute;
    left: 35%;
    bottom: -2px; 
    width: 0%;
    height: 1.5px;
    background-color: #EE552C;
    transition: width 0.5s ease-in-out;
  }
  .see-icon{
    font-size: 1.2rem;  
}
.abt-content-wrapper img{
  display: block;
  min-width: 190px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
} 
}
 @media only screen and (min-width: 768px) and (max-width: 1024px){
  .abt{
    padding: 3rem; 
    padding-bottom: 3rem;
}
.abt-content-wrapper{
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    gap: 1.3rem;
    flex-direction: column;
}
.abt-content{
    width: 100%;
}
.abt-content-wrapper img{
    display: block;
    min-width: 300px;
    height: 370px;
}
 }