.qn{
        padding: 2rem  4.5rem;
        color: #304560;
}

.qn-heading{
display: flex;
align-items: center;
flex-direction: column;
}
.qn-heading h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #304560;
  font-size: 1.8rem;
    margin-bottom: 0.6rem;
}
.qn-toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1.1rem;
}

.qn-toggle{
border-top: 2px solid #8e8e8e65;
width: 66vw;
gap: 0.3rem;
display: flex;
flex-direction: column;
padding: 0.5rem 0.6rem;
}
.qn-toggle h4{
font-size: 1.1rem;
}
.qn-toggle p{
color: #8e8e8e;
font-size: 1rem;
}
.toggle-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.qn-icon{
    font-size: 1.3rem;
    color: #8e8e8e;
}
.qn-toggle p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease, opacity 0.4s ease;
    opacity: 0;
    margin: 0;
  }
  
  .qn-toggle.open p {
    max-height: 200px; 
    opacity: 1;
    margin-top: 0.5rem;
  }
  
  .qn-icon {
    transition: transform 0.3s ease;
  }
  
  .qn-toggle.open .qn-icon {
    transform: rotate(180deg);
  }
  
  .toggle-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  @media only screen and (max-width: 600px){
    .qn{
        padding: 2rem  1.2rem;
}
.qn-heading{
text-align: center;
 }
 .qn-heading h2{
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}
.qn-toggle{
    width: 90%;
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
    padding: 0.6rem 0.6rem;
 }
}
  